<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxz.crud.dao.EmployeeMapper">
	<resultMap id="withdeptResultMap" type="com.sxz.crud.bean.Employee">
		<id column="empid" jdbcType="INTEGER" property="empid" />
		<result column="empname" jdbcType="VARCHAR" property="empname" />
		<result column="gender" jdbcType="CHAR" property="gender" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="d_id" jdbcType="INTEGER" property="dId" />
		<association property="dept" javaType="com.sxz.crud.bean.Dept">
			<id column="deptid" property="deptid" />
			<result column="deptname" property="deptname" />
		</association>
	</resultMap>
	<resultMap id="BaseResultMap" type="com.sxz.crud.bean.Employee">
		<id column="empid" jdbcType="INTEGER" property="empid" />
		<result column="empname" jdbcType="VARCHAR" property="empname" />
		<result column="gender" jdbcType="CHAR" property="gender" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="d_id" jdbcType="INTEGER" property="dId" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		empid, empname, gender, email, d_id
	</sql>
	<sql id="withDept_Column_List">
		e.empid, e.empname, e.gender, e.email,d.deptid,d.deptname
	</sql>
	<select id="selectByExamplewithdept" resultMap="withdeptResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="withDept_Column_List" />
		from tbl_emp e inner join tbl_dept d on d.deptid=e.d_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>


	</select>
	<select id="selectByPrimaryKeywithdept" resultMap="withdeptResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="withDept_Column_List" />
		from tbl_emp e left join tbl_dept d on d.deptid=e.d_id
		where empid = #{empid,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>

	</select>
	<select id="selectByExample" parameterType="com.sxz.crud.bean.EmployeeExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tbl_emp
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_emp
		where empid = #{empid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tbl_emp
		where empid = #{empid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.sxz.crud.bean.EmployeeExample">
		delete from tbl_emp
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.sxz.crud.bean.Employee">
		insert into tbl_emp (empid,
		empname, gender,
		email, d_id)
		values (#{empid,jdbcType=INTEGER},
		#{empname,jdbcType=VARCHAR},
		#{gender,jdbcType=CHAR},
		#{email,jdbcType=VARCHAR}, #{dId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.sxz.crud.bean.Employee">
		insert into tbl_emp
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="empid != null">
				empid,
			</if>
			<if test="empname != null">
				empname,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="dId != null">
				d_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="empid != null">
				#{empid,jdbcType=INTEGER},
			</if>
			<if test="empname != null">
				#{empname,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=CHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="dId != null">
				#{dId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.sxz.crud.bean.EmployeeExample"
		resultType="java.lang.Long">
		select count(*) from tbl_emp
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tbl_emp
		<set>
			<if test="record.empid != null">
				empid = #{record.empid,jdbcType=INTEGER},
			</if>
			<if test="record.empname != null">
				empname = #{record.empname,jdbcType=VARCHAR},
			</if>
			<if test="record.gender != null">
				gender = #{record.gender,jdbcType=CHAR},
			</if>
			<if test="record.email != null">
				email = #{record.email,jdbcType=VARCHAR},
			</if>
			<if test="record.dId != null">
				d_id = #{record.dId,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tbl_emp
		set empid = #{record.empid,jdbcType=INTEGER},
		empname =
		#{record.empname,jdbcType=VARCHAR},
		gender =
		#{record.gender,jdbcType=CHAR},
		email =
		#{record.email,jdbcType=VARCHAR},
		d_id = #{record.dId,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.sxz.crud.bean.Employee">
		update tbl_emp
		<set>
			<if test="empname != null">
				empname = #{empname,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=CHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="dId != null">
				d_id = #{dId,jdbcType=INTEGER},
			</if>
		</set>
		where empid = #{empid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sxz.crud.bean.Employee">
		update tbl_emp
		set
		empname = #{empname,jdbcType=VARCHAR},
		gender =
		#{gender,jdbcType=CHAR},
		email = #{email,jdbcType=VARCHAR},
		d_id =
		#{dId,jdbcType=INTEGER}
		where empid = #{empid,jdbcType=INTEGER}
	</update>
</mapper>